{{!-- about us --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/about.svg" alt="herosection">
            </figure>
          </div>
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <h1>we are Professional Developer🧑‍💻</h1>
            <P>When you’re on <span class="bold-style"> top of the world</span> you feel motivated to do a great job at work. However we all have those
              days when we need a little bit of extra motivation. Here are the top 10 tech quotes to inspire you…. or at
              the very least, put a smile on your face!</P>
            <button class="btn-style btn-primary">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>